.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.home-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.home-image {
  width: 300px;
}
